body{
    background-color: rgba(214, 221, 217, 0.959);
    font-family:'Montserrat', sans-serif;
}

#header1{
    display: flex;
    justify-content: space-around;
    background-color: rgb(250, 237, 54);
    color: white;
    padding: 18px;
}

#titulo{
    display: inline-flexbox;
    width:50%;
    padding-left: 10px;
}
#title{
    font-size: 23px;
    display: inline-flex;
    color: black;
    font: bolder;
    font-family: 'Abril Fatface', cursive;}
.menulink{
    display: inline-flexbox;
    text-align: right;
    padding-top: 5px;
    width: 50%;
}
.menulink a{
    text-decoration: none;
    border-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-right: 15px;
    font:bold;
}
#login{
    color: black;
    border-color: white;
    background-color: white;
}
#login:hover{
    background-color:black;
    border-color: white;
    color: yellow;
}
#login:active{
    border-color:white;
    background-color: white;
}
#cadastro{
    background-color: black;
    color: white;
}
#cadastro:hover{
    background-color : white;
    color: black;
    font: bolder;
    border-color: black;
}
#cadastro:active{
    background-color: black;
    color: white;
}
#botmenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    padding: 12px;
    justify-content: center;
    margin-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#botmenu a{
    display: inline-flexbox;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    font: bold;
}
#botmenu a:hover{
    background-color: white;
    color: black;
    font: bolder;
    border-radius: 8px;
}
#botmenu a:active{
    color: white;
    background-color: black;
}

.produto{
    display: inline-flexbox;
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
    /*width: 20%;*/
    height: 360px;
    background-color: rgba(255, 255, 255, 0.959);
    text-align: center;
    border-radius: 15px;
}
#firstcontent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
    margin-top: 25px;
}

#content{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:10px;
}
.produto img{
    display: inline-flexbox;
    max-width: 90%;
    min-width: 50%;
    height: 80%;
    padding-top: 10px;
}
.nomeproduto{
    margin-top: 4px;
    margin-bottom: 6px;
    font-size: 18px;
    color: black;
}
.preço{
    margin-top: 5px;
    font-size: 20px;
    margin-bottom: 6px;
    color: blue;
    margin-bottom: 30px;
    font: bolder;
}
.linkproduto{
    text-decoration: none;
}
.linkproduto:hover .produto{
    border-style: solid;
    border-color: black;
}
footer{
    display: flex;
    margin-top: 30px;
    background-color: black;
    color: white;
    justify-content: center;
}
.menufooter{
    display:inline-flexbox;
    padding: 15px;
    margin: 10px;
}
.menufooter ul{
    list-style-type: none;
}
.botfooter{
    text-decoration: none;
    color: white;
}
.botfooter:hover{
    color: yellow;
}